# Database
# https://docs.djangoproject.com/en/2.1/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'scrum',
        'HOST': 'localhost',
        'PASSWORD': 'coderslab',
        'USER': 'USER',
        'PORT': 5432
    }
}