{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="mt-4 ml-4 mr-4">
        <div class="row border-bottom border-3">
            <div class="col"><h3 class="color-header text-uppercase">Szczegóły
                przepisu</h3></div>
            <div class="col d-flex justify-content-end mb-2">
                    <a href="/recipe/list/"
                        class="btn btn-success rounded-0 text-light m-1">Powrót</a>
                    <a href="/plan/add-recipe/"
                        class="btn btn-success rounded-0 text-light m-1">Dodaj przepis do planu</a>
            </div>

        <table class="table borderless">
            <tbody>
            <tr class="d-flex">
                <th scope="row" class="col-2" style="margin-right: 20px">Nazwa Przepisu</th>
                <td class="col-7">
                    {{ recipe.name }}
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2" style="margin-right: 20px">Opis przepisu</th>
                <td class="col-7">
                    {{ recipe.description }}
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2" style="margin-right: 20px">Przygotowanie (minuty)</th>
                <td class="col-7">
                    {{ recipe.preparation_time }}
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2" style="margin-right: 20px">Liczba polubień</th>
                <td class="col-1">
                {{ recipe.votes }}
                </td>
                <form method="POST">
                    {% csrf_token %}
                    <td>
                        <input type="submit" name="like" value="Lubię przepis" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">
                    </td>
                    <td>
                        <input type="submit" name="dislike" value="Nie lubię przepisu" class="btn btn-danger rounded-0 pt-0 pb-0 pr-4 pl-4">
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

        <div class="row d-flex">
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Sposób przygotowania</h3></div>
            <div class="col-2"></div>
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Składniki</h3></div>
        </div>
        <div class="row d-flex">
            <div class="col-5 p-4">
                <p>{{ recipe.preparation_description }}</p>
            </div>
            <div class="col-2"></div>
            <ul class="col-5 p-4 list-unstyled">
                {% for ingredient in recipe.ingredients_as_list %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% endblock content %}